body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation .previous,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.previous {
    left: 20px;
    background-image: url(../Images/Icons/whiteprevious.jpeg.png);
    
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../Images/Icons/whiteforward.jpeg.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
    color: whitesmoke;
}

.titleMessage .heading .sub {
    font-size: 23px;
    color: lime;
}

.section {
    padding: 100px 0;
}

.aboutImage {
    max-width: 100%;

}

.skillSection,
.contactSection {
    background-color: #808e9b;
    color: #1e272e;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: black;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.skill .icon1 {
    margin: 0 auto;
    padding: 50px 50px;
    background-image: url(../Images/Icons/htmls.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.skill .icon2 {
    margin: 0 auto;
    padding: 50px 50px;
    background-image: url(../Images/Icons/cssxs.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.skill .icon3 {
    margin: 0 auto;
    padding: 50px 50px;
    background-image: url(../Images/Icons/javascriptxs.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.skill .icon4 {
    margin: 0 auto;
    padding: 50px 50px;
    background-image: url(../Images/Icons/nodexs.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.squareitem {
    margin: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #1e272e;
    border-top: none;
}

.squareInnerContainer:before, 
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #1e272e;
}

.squareInnerContainer:before {    
    right: 0px;
}

.squareInnerContainer:after {
     left: 0px;
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #808e9b;
}

.squareContent h3 {
    font-weight: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #1e272e;
}

.squareContent .statIcons1 {
    margin: 0 auto;
    padding: 39px 39px;
    background-image: url(../Images/Icons/reactsm.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.squareContent .ssIcon1{
    margin: 0 auto;
    padding: 39px 39px;
    background-image: url(../Images/Icons/nodejssm.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.squareContent .ssIcon2{
    margin: 0 auto;
    padding: 39px 39px;
    background-image: url(../Images/Icons/mongosm.jpeg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.contactButton {
    color: whitesmoke;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.contactButton:hover {
    text-decoration: none;
    color: #808e9b;
    background-color: whitesmoke;
}

.filter a {
    color: #808e9b;
    border: 1px solid #808e9b;
    padding: 10px 18px;
    display: block;    
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #808e9b;
    border-color: #808e9b;
    color: whitesmoke;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px
}

.itemsContainer {
    width:100%
}

.items li img {
    width: 100%
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #808e9b;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -0-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -0-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
    
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButoon {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButoon {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}